<%- include('partials/head', { title }) %>

<body>

<%- include('partials/main-header') %>



<main class="main-stage">

    <%- include('partials/stage-intro') %>

    <%- include('partials/stage-menu') %>

</main>
<%- include('partials/footer') %>
