<%- include('partials/head', { title }) %>

<body>

<%- include('partials/main-header') %>


<main class="main-stage">

    <%- include('partials/stage-intro') %>

    <%- include('partials/stage-menu') %>

    <%- include('partials/stage-events') %>

    <%- include('partials/stage-contact') %>

    <div class="container p-4">
        <p> &copy; 2025 The White Hart Inn<br/><br/>Made with ❤️ by Danny Cheeseman</p>
    </div>

</main>
<%- include('partials/footer') %>
